*{
    margin: 0;
    padding: 0; 
}
.logo{
    height: 80px;
}
.logo img{
    height: 70px;
}
.buscador{
    display: flex;
    height: 25px;
    justify-content: center;
    align-content: center;
}
.bolsa{
    display: flex;
    justify-content: end;
}
.menu{
    display: flex;
    justify-content: center;
    list-style: none;
}

.carrito{
    margin-right: 5px;
}

.menu li{
    padding: 0 15px 0 15px;
}

.item:hover{
    color: white
}

#amarillo{
    background-color: yellow;
}

.c-item{
    height: 480px;
}

.c-img{
    height: 100%;

}
.login{
    display: flex;
    justify-content:end;
}
.d-menu{
    background-color: aqua;
}
.d-menu li a{
    color: black;
    
}
.contenedor{
    background-color: antiquewhite;
    border: 3px solid black;
    width: 100%;
    height: auto;
    margin-top: 5px;
}
.contenedor .titulo{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    border: 3px solid black;
    background-color: aqua;
}
.contenedor .fondo-productos{
    border: 3px solid black;
    background-color: yellow;
    margin: 5px;
    height: auto;
    width: 100%;
}
.contenedor .fondo-productos .img-mangas{
    height: 250px;
    margin: 5px;
}
.contenedor .fondo-productos

.contenedor .fondo-productos .info{
    margin: 5px;
}

.top-fila{
    display: flex;
    justify-content: space-between;
}

.top-fila .info{
    display: flex;
    justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}