*{
    margin: 0;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 80px;
}

.buscador{
    display: flex;
    justify-content: center;
}
.navegador{
    display: flex;
    justify-content: center;
}
.item{
    padding: 0px 15px 0px 15px;
    text-decoration: none;
    color: black;
}
.item:hover{
    color: white
}
#amarillo{
    background-color: yellow;
}