* {
    margin: 0;
    padding: 0;
}

/**Pagina en Construccion**/
.fuera-servicio {
    background-image: url(/MangaStore/img/pagina-en-construccion.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 1000px;
}

.cuerpo {
    background-color: #eeebd9;
}

/*Header*/
.logo {
    height: 80px;
}

.logo img {
    height: 70px;
}

.buscador {
    display: flex;
    height: 25px;
    justify-content: center;
    align-content: center;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

.carrito {
    margin-right: 5px;
}


.menu li {
    padding: 0 15px 0 15px;
}

.item:hover {
    color: white
}
.nav-item{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/**Carrusel**/

.c-item {
    height: 480px;
}

.c-img {
    height: 100%;

}

.login {
    display: flex;
    justify-content: end;
}

.d-menu {
    background-color: aqua;
}

.d-menu li a {
    color: black;

}

/**Productos**/
.contenedor {
    background-color: antiquewhite;
    border: 3px solid black;
    width: 100%;
    height: auto;
    margin-top: 5px;

}

.contenedor .titulo-nov {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 3px solid black;
    background-color: aqua;
}

.contenedor .fondo-productos {
    border: 3px solid black;
    background-color: yellow;
    height: auto;
    width: 100%;
}

.contenedor .fondo-productos .img-mangas {
    height: 400px;
    margin: 5px;
    transition: 0.6s;
    object-fit: cover;
}

.img-mangas:hover {
    transform: scale(1.1);
}

.top-fila {
    display: flex;
    justify-content: space-between;
}

.low-fila {
    display: flex;
    justify-content: space-between;
}

.editorial,
.nombre-mang,
.precio {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.editorial {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.nombre-mang {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.precio {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/**footer**/
.ct-footer {
    padding: 0;
}

.bg-footer {
    border: 3px solid black;
    background-color: greenyellow;
    height: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: end;
}

.bg-footer .info-pag {
    border: 3px solid black;
    background-color: blue;
    height: auto;
    width: auto;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-footer .contactos {
    border: 3px solid black;
    background-color: blueviolet;
    margin: 5px;
    height: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contactos ul {
    padding: 0;
    list-style: none;
}

.contactos ul a {
    text-decoration: none;
    color: #000000;
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}