
.formulario-box, .formulario-busqueda{
    padding-left: 1.5rem;
}

.categ-form, .edit-form{
    padding-top: 0.5rem;
}

.img-fix{
    max-height: 65%;
}

.effect{
    transition: 0.7s;
}
.effect:hover{
    transform: scale(1.07);
}