* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    transition: all .2s linear;
    font-family: 'Roboto';
}
body{
    font-family: 'Roboto';
}
body{
    font-family: 'Roboto';
}

/**Pagina en Construccion**/
.fuera-servicio {
    background-image: url(../img/pagina-en-construccion.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 1500px;
}



/*Header*/
.logo {
    height: 80px;
}

.logo img {
    height: 70px;
}


.espacio{
    padding: 8px;
}
.buscador {
    display: flex;
    height: 25px;
    justify-content: center;
    align-content: center;
}

.sesion ul{
    padding: 8px;
    text-decoration: none;
}
.sesion .nav-item{
    color: #000000;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.carrito {
    margin-right: 5px;
}

.item:hover {
    color: white
}

.nav-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
/*Header*/
/**Carrusel**/
.c-item {
    height: 480px;
}

.c-img {
    height: 24rem;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.login {
    display: flex;
    justify-content: end;
}

.d-menu {
    background-color: aqua;
}

.d-menu li a {
    color: black;
}
/**Ca

/**Main**/
#bg{
    background: url(../img/fondo-inicio.png) no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(5px);

}
.producto,
.main{
    font-family: 'Roboto';
}
.main p{
    width: 150px;
}
.main a:hover{
 color: #ec3636;
}
.caja{
width: auto;
}
a{
    text-decoration: none;
    color: #000000;
}
.fila{
display:flex;
justify-content:space-evenly;
}

.img-main{
 height:26em;
 width:18em;
 transition: 0.7s;
 object-fit: cover;
}

.img-main:hover {
 transform: scale(1.07);
}

.info-main-edit,
.info-main-nom,
.info-main-pre{
margin-bottom:5px;
}

.info-main-pre,
.info-main-nom:hover{
    color: #ec3636;
}

/**Main**/


/**footer**/
.social-form h4{
    display: flex;
    justify-content: center;
}
.social-form ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 2.3em;
    
}
.info-form h4{
    display: flex;
    justify-content: center;
}
.info-form p{
    display: flex;
    justify-content: center;
    
}
.error{
    color: red;
}
/**footer**/


/*modal carrito*/
.c-modal a{
    text-decoration: none;
    color: white;
}

/*login html*/

/*login html*/

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 91.5vh;
    width: 100%;
    background: url(../img/fondo.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(248, 244, 244, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-login {
    font-size: 2em;
    color: rgb(245, 242, 246);
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid white;
    color: white;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus~label,
input:valid~label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox i {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.forget {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}

.forget label input {
    margin-right: 3px;
}

.forget label a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.forget label a:hover {
    text-decoration: underline;
}

.ini {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

.active {
    top: -14px;
    font-size: 12px;
    color: #615c5c;

}

.error {
    color: #FF0000;
}

/*login html*/


/*registrarse html*/
#register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 91.5vh;
    width: 100%;
    background: url(../img/fondo2.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.form-r {
    position: relative;
    width: 700px;
    height: 600px;
    background: #7ebcef;
    border: 2px solid rgba(20, 7, 7, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.form-label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.form-group-input {
	position: relative;
}

.form-input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.form-input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.form-input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
    text-align: center;
}

.form-input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.form-check {
	margin-right: 10px;
}

.form-group-terminos, 
.formulario__mensaje,
.form-group-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.form-group-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 20px;
	color: #fbfbfa;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* estilos para la validacion */

.form-group-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.form-group-incorrecto .form-label {
	color: #bb2929;
}

.form-group-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.form-group-incorrecto .form-input {
	border: 3px solid #bb2929;
}


/*registrarse html*/

/*Productos*/
.limit{
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;
    padding: 0;
}
.tabla-info{
padding:0;
}
.tamanno-t{
font-size: 2.5em}
.tamanno{
font-size: 1.5em;
color: red;
}

.img-mangas-p{
    margin-left: auto;
    margin-right: auto;
    height: 38rem;
    width: 24rem;
}

.producto{
    display: flex;
    justify-content: center;
}
/*Productos*/

/*carrito*/
.cont-form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background: url(../img/fondo-compra.png)no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 70px;
}
.cont-form form{
    padding: 20px;
    width: 700px;
    background: url(../img/fondo-rec.png)no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 5px 10px rgb(0, 0, 0,.1);
}
.cont-form form .row-form{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.cont-form form .row-form .col{
    flex: 1 1 250px;
}
.cont-form form .row-form .col .title-form{
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.cont-form form .row-form .col .input-Box{
    margin: 25px 0;
}
.cont-form form .row-form .col .input-Box span{
    margin-bottom: 10px;
    display: block;
}
.cont-form form .row-form .col .input-Box input{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}
.cont-form form .row-form .col .input-Box input:focus{
    border: 1px solid #000;
}
.cont-form form .row-form .col .flex{
    display: flex;
    gap: 15px;
}
.cont-form form .row-form .col .flex .input-Box{
    margin-top: 5px;
}
.cont-form form .row-form .col .input-Box img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}
.cont-form form .submit-btn{
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #27ae60;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}
.cont-form form .submit-btn:hover{
    background: #2ecc71;
}
.record-me {
    margin: 5px 0 10px;
    font-size: .9em;
    display: flex;
    justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}