{% extends "venta/base.html"%}

{% load static %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dismissible {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong class="text-dark">{{ message }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            <h2>Ingresar Usuario</h2>
            <div class="container">
                <div class="card-body">
                    <form action="{% url 'crearUsuario' %}" method="POST">{% csrf_token %}

                        <div class="form-group">
                            <input type="text" id="usuario" name="usuario" class="form-control" placeholder="Usuario"
                                maxlength="100" required>
                        </div>

                        <div class="form-group">
                            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre"
                                 required>
                        </div>

                        <div class="form-group">
                            <input type="email" id="correo" name="correo" class="form-control" placeholder="Email"
                                maxlength="100" required>
                        </div>

                        <div class="form-group">
                            <input type="number" id="telefono" name="telefono" class="form-control" placeholder="xxx-xxx-xxxx"
                                maxlength="9" required>
                        </div>

                        <div class="form-group">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                                maxlength="100" required>
                        </div>


                        {% comment %}<div class="form-group">
                            <pre>Género: <select name="genero">
                                {% for tmp in generos %}
                                    <option value="{{tmp.id_genero}}">{{tmp.nomb_genero}}</option>
                                {% endfor %}
                            </select></pre>
                        </div>

                        <div class="form-group">
                            <pre>Editorial: <select name="editorial">
                                {% for tmp in editoriales %}
                                    <option value="{{tmp.id_editorial}}">{{tmp.nomb_editorial}}</option>
                                {% endfor %}
                            </select></pre>
                        </div>{% endcomment %}

                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                        </div>

                        <div class="form-group">
                            <button type="button" class="btn btn-success btn-block text-white">
                                <a href="{% url 'clientes' %}"> Volver a Lista de Usuarios</a>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}