{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MangaStore</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script src="https://kit.fontawesome.com/4166c17111.js" crossorigin="anonymous"></script>
</head>

<body class="cuerpo">
    <section class="encabezado">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <!-- Logo Section -->
                <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static '/img/one-piece-logo.png' %}" alt="" class="img-fluid logo"></a>
                <a class="navbar-brand" href="{% url 'index' %}">Manga Store</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navigation Links and Authentication Section -->
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tienda' %}">Tienda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'progreso' %}">Novedades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'progreso' %}">Ofertas</a>
                        </li>
                        <!-- Authentication Section -->
                        {% if request.user.is_authenticated %}
                            {% if user.is_staff == 1 %}
                                <li class="nav-item">
                                    <a class="nav-link" href="">Hola, {{ request.user.username }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'menu' %}">Administrar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="">Hola, {{ request.user.last_name }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'signin' %}">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                            </li>
                        {% endif %}
                    </ul>

                    <form class="d-flex">
                        <label for="buscar"> </label>
                        <input id="buscar" class="form-control me-2" type="text" placeholder="Buscar">
                        <button class="btn btn-primary p-1" type="button"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </nav>
    </section>
</body>



    
    {% block body%}

    {% endblock %}

    <section class="pie-pagina">
        <div class="container my-5">
            <div class="row">
                <div class="col-sm-12 col-lg-6 col-xl-6 info-form">
                    <h4>Nosotros</h4>
                    <p>Nos dedicamos a venderte tus mangas favoritos al mejor precio y al alcance de tu mano. Puedes poner tu confianza en nosotros sin
                        preocuparte por mala calidad y pobre entrega.
                    </p>
                </div>
                <div class="col-sm-12 col-lg-6 col-xl-6 social-form">
                    <h4>Redes Sociales</h4>
                    <ul>
                        <li>
                            <a href="">
                                <i class="fab fa-whatsapp fa-2x" style="color: #25d366;"></i>
                            </a>
                        </li>
                        <li class="pe-3 ps-3">
                            <a href="">
                                <i class="fab fa-instagram fa-2x" style="color: #ac2bac;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fab fa-facebook-f fa-2x" style="color: #3b5998;"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="contactos-form">
                    <h4>Contactanos</h4>
                    <form id="contactForm">
                        <div class="form-group">
                            <label for="emailInput">Correo electrónico</label>
                            <input type="email" name="correo" class="form-control" id="emailInput"
                                placeholder="Ingresa tu correo electrónico">
                        </div>
                        <div class="form-group">
                            <label for="commentInput">Comentarios</label>
                            <textarea class="form-control" name="mensaje" id="commentInput" rows="5"
                                placeholder="Escribe aquí tus comentarios"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2" id="guardar">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>








    <script src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{% static '/js/form-query.js' %}"></script>


</body>

</html>