{% extends "venta/base.html"%}

{% load static %}

{% block body %}
<div class="table-responsive">
  <div class="text-center mb-4">
    <h1>Carrito</h1>
  </div>
  <table class="table table-striped">
    {% if items %}
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Autor</th>
        <th>Precio Unitario</th>
        <th>Cantidad</th>
        <th>Precio Real</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.manga.titulo }}#{{ item.manga.nro_volumen }}</td>
        <td>{{ item.manga.autor }}</td>
        <td>${{ item.manga.precio }}</td>
        <td>{{ item.cantidad }}</td>
        <td>${{ item.precio }}</td>
      </tr>
      {% endfor %}
    </tbody>
    {% endif %}
  </table>
  <div class="text-center">
    <div class="alert alert-info" role="alert">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          Precio total a pagar: ${{ carro.precioTotal }}
        </div>
        <div>
            <a href="{% url 'index' %}" class="btn btn-secondary mr-2">Volver al inicio </a>
            <a href="{% url 'compra' %}" class="btn btn-primary">Pagar </a>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}