{% extends "venta/base.html"%}

{% load static %}

{% block body %}

<div class="container">
        <div class="row">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong class="text-dark">{{ message }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            <h1>Listado de Usuarios</h1>

            <div>
                <form class="d-flex" method="get" action="{% url 'clientes' %}">
                    <div>
                        <select class="form-select" name="search_field" aria-label="Default select example">
                            <option selected>Buscar por</option>
                            <option value="1">Usuario</option>
                            <option value="2">Nombre</option>
                            <option value="3">Email</option>
                        </select>
                    </div>
                    <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    {% if users %}
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Id</th>
                                <th>usuario</th>
                                <th>nombre</th>
                                <th>email</th>
                                <th>telefono</th>

                                <th colspan="2">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in users %}
                            <tr>
                                <td>{{forloop.counter}}
                                <td>{{c.user.id}}
                                <td>{{c.user.last_name}}
                                <td>{{c.user.first_name}}
                                <td>{{c.user.username}}
                                <td>{{c.telefono}}
                                <td><a href="{% url 'modificarUsuario' pk=c.user.id %}" class="btn btn-info">Editar</a>
                                <td><a href="{% url 'eliminarUsuario' pk=c.user.id %}" class="btn btn-danger btnEliminacion">Eliminar</a>
                            </tr>
                            {% endfor %}
                        </tbody>
                    {% endif %}
                </table>
            </div>
        </div>
    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">
                <a href="{% url 'crearUsuario' %}">Agregar un nuevo Usuario</a>
        </button>
        </div>
    </div>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static '/js/modalU.js' %}"></script>
{% endblock %}
