{% extends "venta/base.html"%}

{% load static %}

{% block content %}
    <section id="login">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="form-box">
            <div class="form-value">
                <form action="{% url 'login' %}" method="post" >
                    {% csrf_token %}
                    <h2 class="title-login">Iniciar Sesión</h2>
                    <div class="inputbox">
                        <i class="fa-sharp fa-solid fa-envelope"></i>
                        <input type="text" class="form-input" name="usuario" id="usuario" required>
                        <label for="usuario">Usuario</label>
                    </div>
                    <div class="inputbox">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" class="form-input" name="password" id="password" required>
                        <label for="password">Contraseña</label>
                    </div>
                    <div class="forget">
                        <label for=""><input type="checkbox">Recuerdame <a href="#">¿Olvidó su contraseña?</a></label>
                    </div>
                    <button class="ini">INICIAR SESIÓN</button>
                    <div class="register">
                        <p>¿No tienes cuenta? <a href="registrarse.html">Registrate aquí</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}



    