{% extends "venta/base.html"%}

{% load static %}

{% block content %}

    <section id="login">
        <div class="form-box">
            <div class="form-value">
                <form action="">
                    <h2 class="title-login">Iniciar Sesión</h2>
                    <div class="inputbox">
                        <i class="fa-sharp fa-solid fa-envelope"></i>
                        <input type="correo" class="form-input" name="form-input" id="correo" required>
                        <label for="correo">Correo electrónico</label>
                    </div>
                    <div class="inputbox">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" class="form-input" name="form-input" id="pass" required>
                        <label for="pass">Contraseña</label>
                    </div>
                    <div class="forget">
                        <label for=""><input type="checkbox">Recuerdame <a href="#">¿Olvidó su contraseña?</a></label>
                    </div>
                    <button class="ini">INICIAR SESIÓN</button>
                    <div class="register">
                        <p>¿No tienes cuenta? <a href="registrarse.html">Registrate aquí</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}



    